html, body {
    height: 100%;
    margin: 0px;
}
/* My avatar picture from Github instead of Gmail */
.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;

}
.avatar:hover {
    border:4px solid #efefef;
    margin: -4px;
}
/* Making the top bar look like google with flexbox and margin modification */
.Github {
    height: 32px;
    padding:8px;
    padding-right: 12px;
    position:static;
}

.topnav {
    display: flex;
    font-size: 14px;
    align-items: center;
    line-height: 24px;
    padding: 6px;
}
.About{
    margin-left: 15px;
    margin-right: 5px;
    padding: 5px;
}
.Store{
    margin: 0px 5px 0px 5px;
    padding: 5px;
}
.Gmail {
    margin-left: auto;
    padding-left: 15px;
}
.Images {
    padding: 0px 15px 0px 15px ;
}
.Gmail, .Images {
    font-size: 13px;
}

/* removing the underline from the links and making the underline appear bz hovering over them */
a:-webkit-any-link {
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    text-decoration: none;
    font-family: arial,sans-serif;
}
a:hover {
    text-decoration: underline;
}
.Dots {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50%;
}
.Dots:hover {
    background-color: #efefef;
}
path {
    fill: #5f6368;
    opacity: 1;
}